{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-md-center">
            <div class="col-md-5">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security', 'fr') }}</div>
                {% endif %}
                <div class="card">
                    <h5 class="card-header"><i class="fa fa-lock"></i> Connexion</h5>
                    <div class="card-body">
                        <p class="card-text">Merci d'entrer vos informations de connexion.</p>

                        {{ form_start(loginForm) }}
                        {{ form_row(loginForm._username) }}
                        {{ form_row(loginForm._password) }}
                        {{ form_row(loginForm._remember_me) }}
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-sign-in-alt"></i> Connexion
                        </button>

                        {{ form_end(loginForm) }}

                    </div>
                    <div class="card-footer">
                        <p class="text-center"><a href="{{ path('app_security_register') }}">S'inscrire</a></p>
                        <p class="text-center"><a href="{{ path('app_security_resetpassword') }}">Mot de passe oublié / réinitialisation</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
