{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-md-center">
            <div class="col-md-5">
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}
                <div class="card">
                    <h5 class="card-header"><i class="fa fa-lock"></i> Réinitialisation du mot de passe</h5>
                    <div class="card-body">
                        <p class="card-text">Merci de saisir votre nouveau mot de passe.</p>

                        {{ form_start(newPasswordForm) }}
                        {{ form_row(newPasswordForm.password) }}
                        {{ form_row(newPasswordForm.password2) }}
                        <button class="btn btn-primary">Enregistrer</button>
                        {{ form_end(newPasswordForm) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
